<link rel="stylesheet" type="text/css"  media="print" href="/css/print.css">
                <div class="container-fluid">
                    <h1>Gerenciamento de Patrimônios</h1>

<div style="margin-bottom: 15px;display: flex;">
    <a class="btn btn-info" style="max-width: 200px;" href="/patrimonio/addPatrimonio">Novo Patrimônio</a>
    <button id="btnExportarExcel" class="btn btn-primary" style="margin: 0px 30px 0px 30px;" >Exportar para Excel</button>
    <button id="btnExportarPdf"  onclick="window.print()" class="btn btn-danger">Exportar para PDF</button>
</div>
<div style="margin-bottom: 15px;" id="divFiltros">
    <label for="filtro">Filtro:</label>
    <div class="input-group">
        <input id="filtro" type="text" placeholder="Digite um valor a ser filtrado..." class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <button id="btnEscolherFiltro" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Filtros</button>
       <div class="dropdown-menu">
            <a class="dropdown-item itemFiltro" data-valor="2" data-nome="Tipo de Patrimônio">Tipo de Patrimônio</a>
            <a class="dropdown-item itemFiltro" data-valor="1" data-nome="Nome do Produto">Nome do Patrimônio</a>
          </div>
          <button id="btnFiltrar" class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
</div>
    <div>
        <table class="table table-striped" id="tablePatrimonio">
            <thead>
                <th>Código Patrimônio</th>
                <th>Patrimônio quantidade</th>
                <th>Tipo de patrimônio</th>
                <th>Nome do patrimônio</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < listaPatrimonio.length; i++)  { %>
                    <tr>
                        <td><%= listaPatrimonio[i].patrimonioId %></td>
                        <td><%= listaPatrimonio[i].quantidadePatrimonio %></td>
                        <td><%= listaPatrimonio[i].tipoPatrimonio %></td>
                        <td><%= listaPatrimonio[i].nomePatrimonio %></td>
                        <td>
                            <a href="/patrimonio/alterarPatrimonio/<%= listaPatrimonio[i].patrimonioId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button onclick="excluirPatrimonio('<%= listaPatrimonio[i].patrimonioId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
                </div>
                <!-- /.container-fluid -->
            
    <script src="/js/admin/excluirPatrimonio.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>