
                <div class="container-fluid">
                    <h1>Patrimônios cadastrados</h1>
<a class="btn btn-info" style="max-width: 200px;" href="/admin/addPatrimonio">Novo Patrimônio</a>

<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Código Patrimônio</th>
                <th>Patrimônio quantidade</th>
                <th>Tipo de patrimônio</th>
                <th>Nome do patrimônio</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < listaPatrimonio.length; i++)  { %>
                    <tr>
                        <td><%= listaPatrimonio[i].patrimonioId %></td>
                        <td><%= listaPatrimonio[i].quantidadePatrimonio %></td>
                        <td><%= listaPatrimonio[i].tipoPatrimonio %></td>
                        <td><%= listaPatrimonio[i].nomePatrimonio %></td>
                        <td>
                            <a href="/admin/alterarPatrimonio/<%= listaPatrimonio[i].patrimonioId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button onclick="excluirPatrimonio('<%= listaPatrimonio[i].patrimonioId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
                </div>
                <!-- /.container-fluid -->
            
    <script src="/js/admin/excluirPatrimonio.js"></script>
