
                <div class="container">
                    <h1>Alterar Evento</h1>
                    <div>
                        <% if (typeof msg != "undefined") { %>             
                            <span><%= msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="nome" class="form-label">Nome do Evento:</label>
                                    <input type="text" maxlength="45" class="form-control" id="nome" name="nome" value="<%= evento.nomeEvento %>">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="data" class="form-label">Data do Evento</label>
                                    <input type="date" maxlength="10" class="form-control" id="data" name="data" value="<%= evento.dataEvento %>">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="local" class="form-label">Local do Evento</label>
                                    <input type="text"maxlength="45" class="form-control" id="local" name="local" value="<%= evento.localEvento %>">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="desc" class="form-label">Descrição do Evento:</label><br>
                                    <input type="text" id="desc" name="desc" maxlength="255" value="<%= evento.descEvento %>" class="form-control">
                                    
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="patrimonio" class="form-label">Tipo de patrimonio:</label>
                                    <select class="form-control" id="patrimonio" name="patrimonio">
                                        <option value="0">Selecione...</option>
                                        <% for(let i = 0; i<listaPatrimonio.length; i++) { %>
                                            <% if(evento.patrimonioId == listaPatrimonio[i].patrimonioId) { %>
                                                <option selected value="<%= listaPatrimonio[i].patrimonioId %>"><%= listaPatrimonio[i].nomePatrimonio %></option>
                                            <% } else { %>
                                                <option value="<%= listaPatrimonio[i].patrimonioId %>"><%= listaPatrimonio[i].nomePatrimonio %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="quantidade" class="form-label">Quantidade:</label>
                                    <input style="width: 100px;" type="number" class="form-control" id="quantidade" name="quantidade" value="<%= evento.quantidadePatrimonio %>">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" id="btnAlterarEvento" type="button">Alterar</button>
                                <a class="btn btn-danger" href="/evento">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
    <script src="/js/admin/editarEvento.js"></script>
