
                <div class="container-fluid">
                    <h1>Eventos cadastrados</h1>
<a class="btn btn-info" style="max-width: 200px;" href="/admin/addEvento">Novo Evento</a>

<hr>
<div>
    <button id="btnExportarExcel">Exportar para excel</button>
</div>
    <div>
        <table id="tableEvento" class="table table-striped">
            <thead>
                <th>Codigo Evento</th>
                <th>Data Evento</th>
                <th>Local Evento</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < listaEvento.length; i++)  { %>
                    <tr>
                        <td><%= listaEvento[i].eventoId %></td>
                        <td><%= listaEvento[i].dataEvento.toLocaleDateString() %></td>
                        <td><%= listaEvento[i].localEvento %></td>
                        <td>
                            <a href="/admin/alterarEvento/<%= listaEvento[i].eventoId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button onclick="excluirEvento('<%= listaEvento[i].eventoId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
                </div>
                
    <script src="/js/admin/excluirEvento.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>