
                <div class="container-fluid">
                    <h1>Eventos cadastrados</h1>
<div style="margin-bottom: 15px; display: flex;">
    <a class="btn btn-info" style="max-width: 200px;" href="/evento/addEvento">Novo Evento</a>
    <button id="btnExportarExcel" class="btn btn-primary" style="margin-left: 30px;">Exportar para Excel</button>
</div>
<hr>

<div style="margin-bottom: 15px;">
    <label for="filtro" style="font-weight: 700; color: black;">Filtro:</label>
    <div class="input-group">
        <input id="filtro" type="text" placeholder="Digite um valor a ser filtrado..." class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <button id="btnEscolherFiltro" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Filtros</button>
          <div class="dropdown-menu">
            <a class="dropdown-item itemFiltro" data-valor="1" data-nome="Nome do Evento" href="#">Nome do Evento</a>
            <a class="dropdown-item itemFiltro" data-valor="3" data-nome="Local do Evento" href="#">Local do Evento</a>
          </div>
          <button id="btnFiltrar" class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> Buscar</button>
        </div>
      </div>
</div>

    <div>
        <table id="tableEvento" class="table table-striped">
            <thead>
                <th>Codigo Evento</th>
                <th>Nome Evento</th>
                <th>Data Evento</th>
                <th>Local Evento</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < listaEvento.length; i++)  { %>
                    <tr>
                        <td><%= listaEvento[i].eventoId %></td>
                        <td><%= listaEvento[i].nomeEvento%></td>
                        <td><%= listaEvento[i].dataEvento.toLocaleDateString() %></td>
                        <td><%= listaEvento[i].localEvento %></td>
                        <td>
                            <a href="/evento/alterarEvento/<%= listaEvento[i].eventoId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button onclick="excluirEvento('<%= listaEvento[i].eventoId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                            <a href="/evento/relatorioEvento/<%= listaEvento[i].eventoId %>" class="btn btn-secondary"><i class="fas fa-eye"></i></a> <!-- Criar uma tela pra exbição de relatorios -->
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
                </div>
                
    <script src="/js/admin/excluirEvento.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>