<div class="container-fluid">
    <div class="titulo" style="display: flex; justify-content: space-between;">
        <h1>Relatorio do Evento <span style="color: green;"><%= evento.nomeEvento %></span></h1>
        <div style="margin-bottom: 15px;">
            <button id="btnExportarExcel" class="btn btn-primary" >Exportar para Excel</button>
        </div>
    </div>
    <div class="informacoes">
        <table id="tableRelatorio" class="table table-striped">
            <thead>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Local</th>
                <th>Descrição</th>
                <th>Patrimonio</th>
                <th>Quantidade Patrimonio</th>
            </thead>
            <tbody>
                <tr>
                    <th><%= evento.eventoId %></th>
                    <th><%= evento.nomeEvento %></th>
                    <th><%= evento.dataEvento.toLocaleDateString() %></th>
                    <th><%= evento.localEvento %></th>
                    <th><%= evento.descEvento %></th>
                    <th><%= evento.patrimonioId %></th>
                    <th><%= evento.patrimonioQuantidade %></th>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-danger" href="/evento" style="margin-bottom: 20px;">Voltar</a>
    </div>
</div>



<script src="/js/admin/listarRelatorioEvento.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>