
<div class="container-fluid">
    <h1>Doações monetárias cadastradas</h1>
<a class="btn btn-info" style="max-width: 200px;" href="/doacao/doacaoMonetariaAdm">Nova Doação Monetária</a>
<a class="btn btn-danger" href="/doacao">Voltar</a>

<hr>
<div style="margin-bottom: 15px;">
    <button id="btnExportarExcel" class="btn btn-primary" >Exportar para Excel</button>
</div>
<div>
<table id="tableDoacaoMonetaria" class="table table-striped">
<thead>
<th>Id doação</th>
<th>Tipo doação</th>
<th>Valor Doação</th>
</thead>
<tbody>
<% for (let i = 0; i < listaDoacaoMonetaria.length; i++)  { %>
    <tr>
        <td><%= listaDoacaoMonetaria[i].doacaoMonetariaId %></td>
        <td><%= listaDoacaoMonetaria[i].tipoDoacaoMonetariaId %></td>
        <td><%= listaDoacaoMonetaria[i].valorDoacao %></td>
        <td>
            <a href="/doacao/alterarDoacaoMonetaria/<%= listaDoacaoMonetaria[i].doacaoMonetariaId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
            <button onclick="excluirDoacaoMonetaria('<%= listaDoacaoMonetaria[i].doacaoMonetariaId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
<% } %>
</tbody>
</table>
</div>
</div>         
<script src="/js/admin/excluirDoacaoMonetaria.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
