
<div class="container-fluid">
    <h1>Doações materiais cadastradas</h1>
<a class="btn btn-info" style="max-width: 200px;" href="/doacao/doacaoMaterialAdm">Nova Doação Material</a>
<a class="btn btn-danger" href="/doacao">Voltar</a>

<hr>
<div>
    <button id="btnExportarExcel">Exportar para excel</button>
</div>
<div>
<table id="tableDoacaoMaterial" class="table table-striped">
<thead>
<th>Id doação</th>
<th>Tipo doação</th>
<th>Quantidade Doação</th>
</thead>
<tbody>
<% for (let i = 0; i < listaDoacao.length; i++)  { %>
    <tr>
        <td><%= listaDoacao[i].doacaoMaterialId %></td>
        <td><%= listaDoacao[i].tipoDoacaoMaterialId %></td>
        <td><%= listaDoacao[i].quantidadeDoacao %></td>
        <td>
            <a href="/doacao/alterarDoacaoMaterial/<%= listaDoacao[i].doacaoMaterialId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
            <button onclick="excluirDoacaoMaterial('<%= listaDoacao[i].doacaoMaterialId %>')" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
<% } %>
</tbody>
</table>
</div>
</div>         
<script src="/js/admin/excluirDoacaoMaterial.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
